extends ../layouts/master.pug

block title
  title Salstro - Newsfeed Wall

block content
  //- header cum navbar
  include ../components/navbar.pug
  //- main content
  section.main-content
    h1 Newsfeed wall page
