//- ./src/views/mixins/edu-header.pug

mixin eduHeader(title)
  .edu-header
    h1.edu-header__heading #{title}


mixin eduHeaderView(title)
  .edu-header.edu-header--view
    h1.edu-header__heading #{title}
    if block
      block

mixin eduHeaderViewSmall(title)
  .edu-header.edu-header--view.edu-header--small
    h1.edu-header__heading #{title}
    if block
      block
