//- ./src/views/mixins/mapHeader.pug

mixin mapHeader()
  .map-header
    .map-wrap
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.34194181729!2d-74.03927125584907!3d40.759040329229045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588f046ee661%3A0xa0b3281fcecc08c!2sManhattan%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1542272409685' frameborder='0' style='border:0' allowfullscreen='')
      if block
        block

mixin mapHeaderView()
  .map-header.map-header--view
    .map-wrap
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d96708.34194181729!2d-74.03927125584907!3d40.759040329229045!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588f046ee661%3A0xa0b3281fcecc08c!2sManhattan%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1542272409685' frameborder='0' style='border:0' allowfullscreen='')
      if block
        block
