//- ./src/views/mixins/nopost.pug

mixin nopostBox()
  article.feed__nopost
      img(src=require('../../assets/images/svg/newspaper.svg'), alt="No post")
      p.m-0
        | No Post
        br
        |  Available
