//- ./src/views/mixins/postcarousel.pug

mixin postcarousel(className)
  #postCarousel.carousel.slide.feed__post-carousel(data-ride='carousel', class=className)
    .carousel-inner
      .carousel-item.active
        img.d-block.w-100(src=require('../../assets/images/img/post-02.jpg') alt='Post')
      .carousel-item
        img.d-block.w-100(src=require('../../assets/images/img/post-01.jpg') alt='Post')
      .carousel-item
        img.d-block.w-100(src=require('../../assets/images/img/post-03.jpg') alt='Post')
    a.carousel-control-prev(href='#postCarousel' role='button' data-slide='prev')
      span.carousel-control-prev-icon(aria-hidden='true')
      span.sr-only Previous
    a.carousel-control-next(href='#postCarousel' role='button' data-slide='next')
      span.carousel-control-next-icon(aria-hidden='true')
      span.sr-only Next
