//- ./src/views/mixins/postarticle.pug

mixin postArticle()
  p.feed__post-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, cumque laboriosam a reiciendis aliquid doloribus ea id, laudantium quis provident accusantium asperiores iste minima. Nobis odit minus excepturi sint recusandae. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis beatae et corrupti dolore, fugiat facilis ex eveniet odio! A temporibus perferendis doloribus, atque voluptatibus ipsa illo quos cum voluptatem expedita.
  p.feed__post-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur, cumque laboriosam a reiciendis aliquid doloribus ea id, laudantium quis provident accusantium asperiores iste minima. Nobis odit minus excepturi sint recusandae.
