//- ./src/views/mixins/nopost.pug

mixin postImage(img)
  p.feed__post-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat quasi
  a.feed__post-post.feed__post-post-single(href="#")
    img.feed__post-img(src=img, alt="")
