//- ./src/views/mixins/postvideo.pug

mixin postVideo()
  p.feed__post-title Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum fugiat quasi
  a.feed__post-post(href="#")
    .feed__post-post-vid
      if block
        block
