//- ./src/views/components/company-manage/admin-block.pug

include ../../mixins/box.pug
include ../../mixins/memberItem.pug

+box('Admin')
  section.members__admin
    +memberItem('admin-01.jpg', 'admin')
    +memberItem('admin-02.jpg', 'otheradmin')
    +memberItem('admin-03.jpg', 'otheradmin')
