//- ./src/views/components/company-manage/member-block.pug

include ../../mixins/box.pug
include ../../mixins/memberItem.pug

+box('Members')
  section.members__member
    +memberItem('member-01.jpg', 'member')
    +memberItem('moderator-02.jpg', 'member')
    +memberItem('member-02.jpg', 'member')
    +memberItem('member-03.jpg', 'member')
    +memberItem('member-04.jpg', 'member')
    +memberItem('member-05.jpg', 'member')
