//- ./src/views/components/company-manage/moderator-block.pug

include ../../mixins/box.pug
include ../../mixins/memberItem.pug

+box('Moderator')
  section.members__moderator
    +memberItem('moderator-01.jpg', 'moderator')
    +memberItem('moderator-02.jpg', 'moderator')
