// ./src/assets/components/_box.sass

.box
  border-radius: 4px
  border: 1px solid $border-lightblue
  margin-bottom: 2em

  .box__head
    display: flex
    align-items: center
    padding: 4px 8px
    background-color: $bg-blue
    border-radius: 4px 4px 0 0

  .box__img
    margin-right: 6px

  .box__heading
    font-size: 15px
    font-weight: $semi
    color: $text-white
    margin: 0

  .box__body
    border-radius: 0 0 4px 4px
    background-color: $bg-white
    padding: 2px 6px 4px
