// ./src/assets/sass/components/_map-header.sass

.map-header
  position: relative
  z-index: 1
  margin-bottom: 30px

  &.map-header--view
    margin-bottom: 100px

.map-wrap
  position: relative
  z-index: 1
  width: 100%
  height: 250px

  iframe
    width: 100%
    height: 250px

.map-atop
  position: absolute
  top: 50%
  left: 30%
  transform: translateY(-50%)
  z-index: 1

.map-bottom
  position: absolute
  width: 100%
  transform: translateY(-50%)
  padding: 0 30px
