// ./src/assets/sass/components/_profile_content.sass

// About Me
.profile__aboutme
  padding: 12px 8px

  .profile__aboutme-pessage
    margin-bottom: 15px
    font-size: 13px
    font-weight: $regular
    color: $text-black
    text-align: justify
    line-height: 1.6

.profile__interests
  display: flex
  flex-wrap: wrap
  padding: 12px 8px

  .profile__interest
    display: flex
    padding: 6px 15px
    justify-content: space-between
    align-items: center
    background-color: $bg-gray
    color: $text-white
    font-size: 13px
    font-weight: $regular
    border-radius: 15px
    margin-bottom: 8px

    &:not(:last-child)
      margin-right: 8px