// ./src/assets/sass/components/_profile_content.sass

// About Me
.profile__aboutme
  padding: 12px 8px

  .profile__aboutme-pessage
    margin-bottom: 15px
    font-size: 13px
    font-weight: $regular
    color: $text-black
    text-align: justify
    line-height: 1.6

.company__info-table
  display: grid
  grid-template-columns: 120px 10px 1fr
  grid-row-gap: 10px
  padding: 15px 0
  border-top: 1px solid $border-offwhite
  border-bottom: 1px solid $border-offwhite
  font-size: 13px
  color: $text-black
  line-height: 1.6

.company__social-info
  display: flex
  justify-content: space-between
  align-items: center
  font-size: 13px
  color: $text-black
  line-height: 1.6

.company__website
  font-size: 13px
  color: $text-black
  line-height: 1.6
  margin: 0

.company__social-links
  padding: 0
  margin: 0
  list-style: none
  display: inline-flex
  align-items: center
  padding: 10px 0

  li
    &:not(:last-child)
      margin-right: 8px

    img
      width: 32px
      height: 32px

.profile__interests
  display: flex
  flex-wrap: wrap
  padding: 12px 8px

  .profile__interest
    display: flex
    padding: 6px 15px
    justify-content: space-between
    align-items: center
    background-color: $bg-gray
    color: $text-white
    font-size: 13px
    font-weight: $regular
    border-radius: 15px
    margin-bottom: 8px

    &:not(:last-child)
      margin-right: 8px

// Portfolio
.portfolio__heading
  display: block
  width: 100%
  flex: 0 0 100%
  grid-column: 1/-1
  padding-bottom: 8px
  color: $text-black
  font-size: 15px
  font-weight: $semi
  margin: 0
  border-bottom: 1px solid $border-lightblue

// Portfolio Photos & Videos
.portfolio__photo-container
  padding: 12px 8px

  .portfolio__item-full
    grid-column: 1/-1

  .portfolio__photo-item
    position: relative

  .portfolio__item-img
    object-fit: cover
    height: 187px
    border-radius: 4px

  .portfolio__item-option
    position: absolute
    background-color: rgba($bg-black, 0.5)
    box-shadow: 0 -2px 6px rgba($black, 0.16)
    left: 0
    right: 0
    bottom: 0
    width: 100%
    border-radius: 0 0 4px 4px
    padding: 4px 8px
    text-align: right

    .custom__dropdown
      display: inline-block

      .dropdown-toggle
        background: none

      .dropdown-menu
        transform: initial!important
        top: 125%!important
        left: -135px!important

        &::before
          left: auto
          right: 15px

.portfolio__container-header
  display: flex
  justify-content: space-between
  align-items: center
  margin-bottom: 16px

.portfolio__photo-tabs
  border-bottom: none

  .nav-item
    margin-bottom: 0

    &:not(:last-child)
      margin-right: 12px

  .nav-link
    padding: 7px 10px
    font-size: 15px
    color: $text-brightpink
    background-color: $bg-white
    border: 1px solid $border-brightpink
    border-radius: 4px
    transition: all ease-in 300ms

    &.active, &:hover, &:focus
      color: $text-white
      background-color: $bg-brightpink
      border: 1px solid $border-brightpink

.portfolio__photos
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto
  grid-gap: 20px

  .addnewitem__box
    margin: 0
    height: 187px
    justify-content: center

// Portfolio Albums
.portfolio__albums

  .portfolio__item-full
    grid-column: 1/-1

  .portfolio__album-option
    display: flex
    justify-content: space-between
    align-items: center
    padding: 4px 2px

  .portfolio__album-text
    font-size: 13px
    color: $text-blue

  .custom__dropdown

    .dropdown-toggle
      background: none

    .dropdown-menu
      transform: initial!important
      top: 125%!important
      left: -135px!important

      &::before
        left: auto
        right: 15px

  .portfolio__album-item
    position: relative

    .portfolio__item-privacy
      position: absolute
      top: 6px
      right: 6px

  .portfolio__album-img
    object-fit: cover
    height: 187px
    border-radius: 4px

.portfolio__albums-newsfeed
  margin-bottom: 20px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto
  grid-gap: 20px

  .addnewitem__box
    margin: 0
    height: 187px
    justify-content: center

.portfolio__album-other
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto
  grid-gap: 20px

  .addnewitem__box
    margin: 0
    height: 187px
    justify-content: center

// Portfolio Videos
.portfolio__video-container
  padding: 12px 8px

  .portfolio__video-item
    position: relative
    margin: 0

    .portfolio__item-privacy
      position: absolute
      top: 6px
      right: 6px

    .btn__play
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      z-index: 1
      margin-top: -17px

    &.playing
      .btn__play
        z-index: 0
        opacity: 0

  .portfolio__item-video
    width: 100%
    height: 187px
    object-fit: cover
    border-radius: 4px

  .portfolio__item-full
    grid-column: 1/-1

  .portfolio__video-option
    display: flex
    justify-content: space-between
    align-items: center
    padding: 4px 2px

  .portfolio__video-text
    font-size: 13px
    color: $text-blue

  .custom__dropdown

    .dropdown-toggle
      background: none

    .dropdown-menu
      transform: initial!important
      top: 125%!important
      left: -135px!important

      &::before
        left: auto
        right: 15px

.portfolio__video-newsfeed
  margin-bottom: 20px
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto
  grid-gap: 20px

  .addnewitem__box
    margin: 0
    height: 100%
    justify-content: center

.portfolio__video-other
  display: grid
  grid-template-columns: repeat(3, 1fr)
  grid-template-rows: auto
  grid-gap: 20px

  .addnewitem__box
    margin: 0
    height: 187px
    justify-content: center

.portfolio__container-pagination
  width: 100%
  grid-column: 1/-1
  text-align: center
  padding: 8px

// Album View
.album__view-container
  @extend .portfolio__photo-container

  .album__view-head
    text-align: right
    padding: 8px 0

  .album__view-content
    display: grid
    grid-template-columns: repeat(3, 1fr)
    grid-template-rows: auto
    grid-gap: 20px

  .addnewitem__box
    margin: 0
    height: 187px
    justify-content: center

// Add photo Popup
.upload__photo-container
  padding: 8px

.upload__photo-head
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 0

  .form-group
    flex: 1 1 calc(100% - 60px)

.upload__photo-body
  padding: 8px 0 12px
  border-bottom: 1px solid $border-lightblue

  .newphotopost__group, .newpost__options-tag
    margin-left: 0

.upload__photo-foot
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 0

// Create Album Popup
.create__album-container
  padding: 8px

  .newpost__options-tag
    margin-left: 0

  .form__fields-wrap
    padding-bottom: 0

.create__album-photos
  display: grid
  grid-template-columns: repeat(4, 1fr)
  grid-template-rows: auto
  grid-gap: 20px

  .addnewitem__box
    margin: 0
    height: 106px
    justify-content: center

    img
      height: 46px
      width: 53px

  .portfolio__album-option
    display: flex
    justify-content: space-between
    align-items: center
    padding: 4px 2px

  .portfolio__album-text
    font-size: 13px
    color: $text-blue

  .custom__dropdown

    .dropdown-toggle
      background: none

    .dropdown-menu
      transform: initial!important
      top: 125%!important
      left: -135px!important

      &::before
        left: auto
        right: 15px

  .portfolio__album-item
    position: relative

  .portfolio__album-img
    object-fit: cover
    height: 106px
    border-radius: 4px
    width: 100%

.create__album-foot
  display: flex
  justify-content: space-between
  align-items: center
  padding: 8px 0
  width: 100%

// Company Profile Working Hours and Map
.company__profile-row
  display: flex

  .box
    flex: 0 0 calc(50% - 8px)
    max-width: calc(50% - 8px)

    &:first-child
      margin-right: 8px

    &:last-child
      margin-left: 8px

.working__hours-table
  display: grid
  grid-template-columns: 110px 10px 1fr
  grid-row-gap: 10px
  padding: 10px 6px
  font-size: 14px
  line-height: 1.6
  color: $text-blue

.company__map-block
  margin: -4px -10px 0
  display: flex
  flex-direction: column

.company__map-frame
  min-height: 200px

.company__map-add
  display: flex
  justify-content: center
  align-items: center
  color: $text-black
  font-size: 14px
  padding: 10px 10px

  img
    width: 16px
    height: 16px
    margin-right: 6px

.company__profile-container
  .showreel__container .showreel__item, .portfolio__container .portfolio__item
    max-height: 100%

  .showree__item-name, .portfolio__item-name
    font-size: 14px
    line-height: 1.6
    color: $text-black
    padding: 8px 0

// Company Awards & Achievements
.company__awards-container
  padding: 8px 15px 0

  .company__awards-item
    display: flex
    align-items: center
    padding: 12px 0

    &:not(:last-child)
      border-bottom: 1px solid $border-offwhite

  .company__awards-img-wrap
    height: 70px
    width: 70px
    padding: 4px
    background-color: $bg-white
    border-radius: 4px
    border: 1px solid $border-offwhite
    display: inline-flex
    justify-content: center
    align-items: center
    margin-right: 30px

  .company__awards-img
    max-width: 100%
    height: auto
    object-fit: cover

  .company__awards-info
    margin-right: 10px

  .company__award-name
    font-size: 15px
    font-weight: $semi
    color: $text-black
    margin: 0 0 4px

  .company__award-institute
    font-size: 13px
    font-weight: $regular
    color: $text-black
    margin: 0 0 4px

  .company__award-date
    font-size: 13px
    color: $text-gray
    margin: 0 0 4px

  .company__award-certificate
    flex: 0 0 50px
    max-width: 50px
    margin-right: 0
    margin-left: auto

    img
      width: 45px
      height: 40px

// Account Upgrade
.account__upgrade-header
  background-image: url('../images/img/account-upgrade-bg.jpg')
  background-size: cover
  background-position: center center
  width: 100%
  min-height: 250px
  padding: 50px 30px
  margin-bottom: 30px
  display: flex
  z-index: 1
  position: relative

  &.account__upgrade-bggray
    &::before
      content: ''
      position: absolute
      display: block
      background-color: rgba($bg-gray, 0.9)
      width: 100%
      height: 100%
      left: 0
      right: 0
      top: 0
      bottom: 0
      z-index: 0

  &.account__upgrade-bgpink
    &::before
      content: ''
      position: absolute
      display: block
      background-color: rgba($bg-pink, 0.9)
      width: 100%
      height: 100%
      left: 0
      right: 0
      top: 0
      bottom: 0
      z-index: 0


  .account__upgrade-media
    margin-right: 20px
    padding-top: 25px
    z-index: 1

  .account__upgrade-img
    width: 140px
    // height: 140px

  .account__upgrade-content
    padding: 4px
    z-index: 1

  .account__upgrade-title
    font-size: 22px
    font-weight: $semi
    color: $text-white
    margin: 0 0 8px
    line-height: 29px

  .account__upgrade-detail
    margin: 0
    line-height: 1.6
    font-size: 14px
    color: $text-white
    text-align: justify

// Account Blogger Form
.account__blogger-form
  padding: 25px 50px 20px

.btn__submit-block
  text-align: center
  padding: 10px 10px 0

.account__educator-form
  @extend .account__blogger-form
