//- ./src/views/components/company/aboutme.pug

include ../../mixins/box.pug

+box('About Company')
  .profile__aboutme
    p.profile__aboutme-pessage
      | Phasellus ut tempus ex. Mauris dapibus nibh ultrices, laoreet eros at, venenatis sem. Suspendisse potenti. Nam non consectetur velit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Phasellus at ex eu odio viverra euismod. Aenean eu augue rhoncus, aliquet nisl vel, efficitur lorem. Nam placerat arcu dictum, molestie massa non, volutpat enim. Sed nibh libe ro, interdum sit amet nisi sit amet, varius porttitor risus. Aenean dignissim at lorem sit amet luctus. Nullam aliquet fermentum nun, vitae efficitur ipsum consectetur in. Suspendisse porta elit lectus, sit amet cursus massa dictum sit amet. Donec non mauris nec nisl dapibus ullamcorper auctor sed leo. Quisque dignissim, arcu non suscipit ultrices, risus magna venenatis velit, ut convallis arcu augue vitae risus. Aenean aliquam eros at finibus tempus.
    p.profile__aboutme-pessage
      | Phasellus lectus velit, dictum a congue eu, ultrices lobortis nibh. Aenean porta nisl vitae ultricies mollis. Cras risus tellus, bibendum qis enim in, molestie tempus metus. Vivamus et lectus gravida, posuere ligula eu, tristique nisi. Sed finibus est magna, elementum vol tpat enim convallis eget. Duis in mi orci. Vestibulum molestie tempor lacus in commodo.
    p.profile__aboutme-pessage
      | Etiam laoreet condimentum mauris, et imperdiet urna ullamcorper in. Sed eget lacus nec neque sollicitudin varius sit amet in nisl. Ut vestibulum nibh quis nisi lobortis consectetur. Mauris molestie urna varius pretium aliquam. Curabitur et nunc vitae elit imperdiet fac ilisis quis eget felis. Aenean vestibulum, est sit amet lacinia blandit, dui justo consectetur nulla, in fringilla nisi dui sit amet nulla. Quiue egestas nibh nisi, at suscipit urna rhoncus sed. Suspendisse interdum fermentum sodales.
    .company__info-table
      .company__info-title Industry
      .company__info-seperator :
      .company__info-detail Hair, Beauty, Spa,  Vivamus et lectus gravida, posuere ligula eu, tristique nisi. Sed finibus est magna, etc.
      .company__info-title Product Used
      .company__info-seperator :
      .company__info-detail Loreal, Matrix, Wella, posuere ligula eu, Tristique nisi, Sed finibus est magna, etc.
      .company__info-title Company Size
      .company__info-seperator :
      .company__info-detail 20-30 Members  (See 10 members work here)
    .company__social-info
      p.company__website Web :  vivipsumsalon.com
      ul.company__social-links
        li
          a(href="#")
            img(src=require('../../assets/images/svg/fb.svg'), alt="Facebook")
        li
          a(href="#")
            img(src=require('../../assets/images/svg/twitter.svg'), alt="Twitter")
        li
          a(href="#")
            img(src=require('../../assets/images/svg/gplus.svg'), alt="Google Plus")
        li
          a(href="#")
            img(src=require('../../assets/images/svg/linkedin.svg'), alt="LinkedIn")
