//- ./src/views/components/company/map.pug

+box('Map')
  .company__map-block
    iframe.company__map-frame(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d197198.89395971506!2d-74.04355159052645!3d40.7387780811051!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2588f046ee661%3A0xa0b3281fcecc08c!2sManhattan%2C+New+York%2C+NY%2C+USA!5e0!3m2!1sen!2sin!4v1541484761093' width='100%' height='100%' frameborder='0' style='border:0' allowfullscreen='')
    .company__map-add
      img(src=require('../../assets/images/svg/icon-location-pin.svg'), alt="Location")
      | 123 Florence Street, Barcelona, Spain
