//- ./src/views/components/company/profile_content.pug

include ../../mixins/box.pug

section.company__profile-container
  include ./aboutme.pug
  .company__profile-row
    include ./workinghours.pug
    include ./map.pug
  include ./portfolio-swiper.pug
  include ./video-swiper.pug
  include ./awards.pug
