//- ./src/views/components/employee_reference.pug

.box
  .box__head
    h1.box__heading Employer Refereces
    a.box__img-right(href='')
      img.box__img-right.img__24(src=require('../../assets/images/svg/icon-pencil-circle.svg'), alt="")
  .box__body
    .addnew__prompt
      a.addnew__prompt-link(href='') Add References