//- ./src/views/components/myprofile_content.pug

section.myprofile__content
  include ./aboutme.pug
  include ./profile_timeline.pug
  include ./portfolio_swiper.pug
  include ./showreel_swiper.pug
  //- include ./interests.pug
  //- include ./employee_reference.pug
