//- ./src/views/components/newsfeed.pug

section.userfeed__box
  // Userfeed header
  .userfeed__header
    a.userfeed__header-link.active(href="#") My Wall
    a.userfeed__header-link(href="#") Community Wall
    a.userfeed__header-link(href="#") My Activity
  // ./ Userfeed header
  // User new post section
  include ./newpost/newpost.pug
  // ./ User new post section
  include ./posts.pug
