//- ./src/views/components/newsfeed.pug

include ../mixins/post.pug
include ../mixins/postcarousel.pug
include ../mixins/newpost.pug
include ../mixins/nopost.pug
include ../mixins/postimage.pug
include ../mixins/postarticle.pug

section.userfeed__box
  // Userfeed header
  .userfeed__header
    a.userfeed__header-link.active(href="#") My Wall
    a.userfeed__header-link(href="#") Community Wall
    a.userfeed__header-link(href="#") My Activity
  // ./ Userfeed header
  // User new post section
  +newpostBox
  // ./ User new post section

  // User posts
  .feed__post-container
    +post
      +postImage("/assets/images/img/post-01.jpg")
    +post
      +postArticle
    +post
      +postcarousel
    +post
      +postImage("/assets/images/img/post-03.jpg")
    +nopostBox
  // ./ User posts
