//- src/views/components/specificpost.pug

include ../mixins/postcarousel.pug

article.specific__post
  .specific__post-header
    h1.specific__post-title My Wall Photos
    p.specific__post-photo-count 1 of 12
  .specific__post-body
    +postcarousel('feed__post-carousel-big')
  .specific__post-footer
    .specific__post-social
      a.specific__post-like(href="#")
        img(src=require("../../assets/images/svg/like.svg"), alt="")
        | Like
      a.specific__post-comment(href="#")
        img(src=require("../../assets/images/svg/comment.svg"), alt="")
        | Comment
      a.specific__post-share(href="#")
        img(src=require("../../assets/images/svg/share.svg"), alt="")
        | Share
